*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
.page {
  display: flex;
  justify-content: center;
  align-content: center;
}
.content {
  display: flex;
  align-items: end;
  gap: 30px;
  height: 534px;
  width: 1140px;
}
.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.content__list-container {
  height: 298px;
  width: 399px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content__details {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  display: block;
  object-fit: fill;
  width: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-content: start;
}

.content__video-card-thumbnail {
  display: block;
  height: 103px;
  min-width: 194px;
  object-position: center;
  object-fit: fill;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}
.title {
  width: 259px;
  height: 210px;
}
.title,
.title .content__accent {
  font-size: 75px;
  font-weight: 700;
  font-family: "Oswald";
  font-style: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 94%;
}

.title .content__accent {
  color: #545050;
}
.content__card-link {
  text-decoration-line: none;
  color: #fff;
}

.content__video-card-title {
  font-family: "Oswald";
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__fieldset {
  border-style: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  appearance: none;
  width: 225px;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.button {
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  color: #fff;
  min-height: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 0 3px;
}
.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.result__video-container,
.content__list-container {
  position: relative;
}
